.button {
  background-color: #0400ff;
  margin: 2rem auto;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: rgb(255, 136, 0);
  border: 1px solid #00ffee;
}

.button button{
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 360px;
  margin-right: 1rem;
  justify-content: space-evenly;
}

.button button:hover,
.button button:active {
  background-color: #12bde3;
  border-color: #00fff7;
}
